body {
	margin-left:50px;
	color:black;
	font-family: Baskerville,"Baskerville old face","Hoefler Text",Garamond,"Times New Roman",serif;
	font-size: 12pt;

}	
.page_header_wrapper {	
    margin-bottom:0.125in;
	height: 1in;
	width: 8.5in;
	padding-left:0.5in;
    padding-bottom: 0.0625in;
	text-align: left; 
	font-weight:bold;
	border-bottom: 1pt solid #ff0000;
}
.logo {
	font-size: 36pt;
	color: #ff0000;
}
.page_subheader {
	margin-left:0.25in;
	margin-bottom:0.25in;
	font-size: 12pt;
    font-style: italic; 
	color: black;
}
.file_getter{
	margin:20px;
	padding:5px;
	font-weight:bold;				
}

.center_block {
	position: absolute;
	top: 1.25in;
	left: 2.5in;
	width: 6in;	
	margin-bottom:0.5in;
	padding-top: 0.25in;
    padding-left:0.25in;
	height: auto;
	
}
.left_sidebar {
	position: absolute;
	top: 1.25in;
    width: 2in;
	left: 0.5in;
	height: 11in;
	border-right: 1pt solid black;
	padding-top: 0.125in;
	padding-right: 0.125in;
}

.block_header {
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
}
.active_info {
	margin-left: 0.25in;	
}

.info_title {
	margin-left: 5px;	
	font-weight:bold;					
	font-size: 10pt;	
}

.repository_root {
	margin-left:5px;
	font-weight:normal;	
}
.dataset_id {
	margin-left:5px;
	font-weight:normal;					
}
	
.record_id {
	margin-left:5px;
	font-weight:normal;					
}

.permalink {
	margin-left:1.25in;
	font-size: x-small;
}

.repository_list {
	width:1.75in;
	margin-left: 0.25in;
	margin-top: 5px;
	padding-bottom: 10px;
}
.repository_table {
	padding-left:5px;
	font-weight:normal;					
}

.search_form {
	width:1.75in;
	border-bottom: 1pt dotted gray;
	margin-bottom: 5px;	
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight:normal;					
}

.dataset_list {
	width:1.75in;
	margin-left: 0.25in;
	margin-top: 5px;
	margin-bottom: 0.25in;
	padding-bottom: 0.25in;
	font-weight:normal;					
}
.dataset_table {
	padding-left:10px;
	font-weight:normal;					
}

.data_wrapper {
	border-top: 1pt solid #ff0000;
	border-bottom: 1pt solid #ff0000;
	width: 8.5in;
	margin:20px;
	padding:10px;
}


.json_attribute{
	margin-left:5px;
	padding:5px;
	font-weight:bold;
}
.json_object{
	font-weight:bold;				
	padding:10px;
	vertical-align:top;
	border-top: 1pt solid gray;
	border-bottom: 1pt solid gray;
	border-right: 1pt solid gray;				
}
.json_array {
	font-size:10pt;
	font-weight:bold;				
	padding:10px;
	vertical-align:top;
	border-top: 1pt solid gray;
	border-bottom: 1pt solid gray;
	border-right: 1pt solid gray;				
}
.json_string {
	margin-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:25px;
	padding-right:25px;
}
.json_input {
	padding:5px;
	border: 1pt solid blue;
	color:black;
}

.selected_records_section {
	padding-top:5px;
	padding-bottom:5px;
}

.selected_records {
	padding-top:10px;
	padding-bottom:5px;
}

.selected_records_download {
	margin-top:20px;
	margin-bottom:10px;
	
}
.record_list_label {
	
}
.record_list_selector {
	
}

.select_link {
    border-style:none;
    height:12px;
}

.more_attribute_section {
	margin-top: 0px;	
	padding-top:0px;		
}
.more_attr_heading {
	font-size: small;
	margin-left:15px;	
}

.more_attr_form {
	margin-left: 30px;	
}

.more_attr_key {
	border-top: none;	
	border-left: none;	
	border-right: none;	
	border-bottom: 1pt solid black;	
	text-align: right;
	font-weight: bold;
	width: 100px;
	margin-right: 10px;
}
.more_attr_button {
	margin-top: 0px;	
	margin-left: 260px;	
	padding-top:0px;		
	padding-bottom:5px;		
	font-size: small;
}

.record_buttons {
	padding-left:5px;	
}

.record_form {
	margin-bottom:5px;
	padding-top:5px;
	padding-left:10px;
	font-weight:normal;					
}

.record_list {
	margin-top:5px;
	padding-left:5px;
	font-weight:normal;					
	border-top: 1pt solid #ff0000;
}

.record_table {
	padding-bottom:10px;
	padding-left:10px;
	font-weight:normal;					
/*	border-top: 1pt solid #ff0000;
*/
}


.edit_button {
	margin-right:2px;
	margin-left:2px;
	font-weight:normal;					
	font-size:10pt;
	
}

._button {
	margin-top:5px;
	margin-bottom:5px;
	margin-right:20px;
	margin-left:2px;
	font-weight:normal;					
	font-size:8pt;
	
}

.status {
	padding:10px;
	border-top: solid 1px red;
	font-weight:bold;					
	color:red;
	font-size: 12pt;
}

.debug_area {
	border-top: 1pt solid #ff0000;
}
	